body{
    background:#eee;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;

    
}

.username{
    color: #8E24AA;
    font-size: 30px;
   

}



#uploadInput{
    display: none;
}

.row{
    margin:20px;
 
}

h5{
    font-size: 25px;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    margin: 50px;
    width: 100%; 
    padding: 30px;
    
}
.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
    width:100%
}


.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom;
   
}

.col-md-7{
    display: flex;
    flex-direction: row; 
     
    justify-content: space-around;
    width: 100%;
}

#mojDiv, #zahtevi{
    display: none;
   
}
#edit, #filtriranje, #editPhoto {
    border:1px solid #8E24AA !important;
    background-color:#8E24AA;
    color:#fff;
     height:40px;
}


#polje1{
    margin: 10px;
}


#dodaj{
    margin-top: 100px;
    
}

#polje2, #polje3,#polje4, #polje5, #polje6, #polje7 {
    margin: 10px;
}

.promene{
    display: flex;
    flex-direction: column; 
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#8E24AA;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:14px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #8E24AA !important;
       color:#8E24AA;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #8E24AA !important;
       color:#fff;
       height:40px;
       background-color:#8E24AA;
}

.buttons button:nth-child(2){
       border:1px solid #8E24AA !important;
       background-color:#8E24AA;
       color:#fff;
        height:40px;
}

#dodajStory{
    border:1px solid #8E24AA !important;
       color:#8E24AA;
       height:40px;
}

#dodajStory:hover{
    border:1px solid #8E24AA !important;
       color:#fff;
       height:40px;
       background-color:#8E24AA;
}