body {
    margin-top: 20px;
    background: #ffffff;
}

.row.row-broken {
    padding-bottom: 0;
}

.col-inside-lg {
    padding: 20px;
}

    .dynamic-input {
      position: relative;
      margin-bottom: 20px;
    }

    .dynamic-input input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .dynamic-input .hint {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: #999;
      font-size: 16px;
      pointer-events: none;
      transition: top 0.3s, font-size 0.3s;
    }
.el{
    display: flex;
    flex-direction: column;
}
    .dynamic-input input:focus + .hint,
    .dynamic-input input:not(:placeholder-shown) + .hint {
      top: 0;
      font-size: 12px;
    }

.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.chat {
    height: calc(100vh - 180px);
}

.decor-default {
    background-color: #ffffff;
}

.chat-users h6 {
    font-size: 20px;
    margin: 0 0 20px;
}

.chat-users .user {
    position: relative;
    padding: 0 0 0 50px;
    display: block;
    cursor: pointer;
    margin: 0 0 20px;
      background-color: rgba(118, 115, 223, 1); 
    border-radius: 10px; 
}

.chat-users .user .avatar {
    top: 0;
    left: 0;
}

.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}

.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}






.chat-users .user .status {
    bottom: 0;
    left: 28px;
}


.chat-users .user .name {
    display: flex;
    justify-self: start;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color:#ffffff;
  
}


/*****************CHAT BODY *******************/

.chat-body h6 {
    font-size: 20px;
    margin: 0 0 20px;
}

.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}

.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}


.chat-body .answer .name {
    font-size: 14px;
    line-height: 36px;
}



.chat-body .answer.left .text {
    background:  #B8B799;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}

.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}

.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}

.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}

.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}

.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}

/*RIGHT*/

.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}



.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}

.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}

.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}

/**************ADD FORM ***************/

.chat-body .answer-add {
    clear: both;
    position: relative;
    margin: 20px - 20px - 20px;
    padding: 20px;
    background: #46be8a;
}

.chat-body .answer-add input {
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    color: #ffffff;
}

.chat input {
    -webkit-appearance: none;
    border-radius: 0;
}

.chat-body .answer-add .answer-btn-1 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;
    right: 56px;
}

.chat-body .answer-add .answer-btn {
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
}

.chat-body .answer-add .answer-btn-2 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
    right: 20px;
}

.chat input::-webkit-input-placeholder {
    color: #fff;
}

.chat input:-moz-placeholder { /* Firefox 18- */
    color: #fff;  
}

.chat input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
}

.chat input:-ms-input-placeholder {
    color: #fff;  
}

.chat input {
    -webkit-appearance: none;
    border-radius: 0;
}
